<%@ Master Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="About.master.cs" Inherits="TiendaVehiculo.OtrasVistas.About.NestedMasterPage1" %>

<asp:Content ID="Content4" ContentPlaceHolderID="foldermedio" runat="server">
                 <asp:ContentPlaceHolder ID="foldermedio" runat="server">
             


            </asp:ContentPlaceHolder>

</asp:Content>
