<%@ Master Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Furgonetasm.master.cs" Inherits="TiendaVehiculo.Articulos.Vehiculos.camiones.Furgonetasm" %>

<asp:Content ID="Content4" ContentPlaceHolderID="foldermedio" runat="server">
                 <asp:ContentPlaceHolder ID="foldermedio" runat="server">
             


            </asp:ContentPlaceHolder>
</asp:Content>

