<%@ Master Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Trabaja.master.cs" Inherits="TiendaVehiculo.OtrasVistas.Trabaja_con_nosotros.NestedMasterPage1" %>
<asp:Content ID="Content4" ContentPlaceHolderID="foldermedio" runat="server">
                 <asp:ContentPlaceHolder ID="foldermedio" runat="server">
             


            </asp:ContentPlaceHolder>

</asp:Content>
