body {
    width:auto;
}

#arriba
{
    height:auto;
    background-color:#b6ff00;
    color:green;
    box-shadow: 0px 0px 10px #000;
    margin-right:150px;
    margin-left:150px;
}
#icono
{
    margin-left: 90px;

}

#medio
{
   margin-left:150px;
   background-color:red;
   margin-right:150px;

   height:20px;
    
    /*altura poner en auto puesta en 20 para verse*/
    
}

#bajo
{
    margin-left:150px;
    margin-right:150px;
    background-color:#610B0B;
    height:auto;
   
}