body {
    
    font-family: Calibri;
    width: auto;
    min-width: 480px;
}
/*LETRA RESPOSIVE!!!
    */
@media (min-width: 640px) { body {font-size:0.7rem;} }
@media (min-width:960px) { body {font-size:0.9rem;} }
@media (min-width:1100px) { body {font-size:1rem;} }

#topor
{
    right: 1em;
    background-color: #e9e9e9;
  

    top:  10%;
    border-radius:  20px 20px 20px 20px;
    box-shadow: 0px 0px 10px #000;
    margin-right:10%;

    float:right;
    width:16%;
    height: auto;
}

#identicar h3 > a
{
    
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    margin-left: 15px;
}
#carrito h3 > a
{
    display:  block;
    color:  black;
    text-decoration:  none;
    font-weight:  bold;
    width: 66px;
    margin-left: 13px;
}



#arriba
{
    height: auto;
    background-color: #b6ff00;
    color: black;
    font-weight: bold;
    
    box-shadow:  0px 0px 10px #000;
    margin-right: 10%;
    margin-left: 10%;
    border-radius:  20px 20px 20px 20px;
}


#icono
{
    margin-left:  2em;

}
#barra
{
    text-align: center;
    width: auto;
    background-color: #e9e9e9;
    box-shadow: 0px 0px 10px #000;
    border-radius:  0px 0px 20px 20px;

}

#barra > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#barra li
{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    color: white;
}

#barra li > a
{
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-left: 2em;
    margin-right: 2em;
    
    /*
    
    border: inset;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 1px;
    text-align: center;*/
}

#barra li:hover
{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    background-color: #5E5E5E;
    
    /*
    
    border: inset;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 1px;
    text-align: center;*/
}

#barra li:hover > a
{
    display: inline-block;
    color: white;
    cursor: pointer;
    background-color: #5E5E5E;
    
    /*
    
    border: inset;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 1px;
    text-align: center;*/
}

#medio
{
   background-color: white;
   margin-left: 9.25em;
   margin-right: 9.25em;
   height: auto;
   border-radius:  20px 20px 20px 20px;

    
    /*altura poner en auto puesta en 20 para verse*/
    
}

#bajo
{
    margin-top: 2em;
    margin-left: 9.25em;
    margin-right: 9.25em;
    
    height: auto;

}

#contacta
{
float: right;
font-size:small;
margin-right: 4px;
}

#contacta  h1
{
     display: block;
     color: #b6ff00;
     text-decoration: none;
     display: inline-block; /*quita el enlace*/
}

#cuadricula
{
    margin-left: 2em;
    margin-right: 2em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    background-color: red;
}

.imgoferta{
    text-align: center;
    overflow: hidden;
}

#cuadricula img{
    width: 70%;
    height: 30%;
    margin: auto;
}
/*SLIDER*/


div#captioned-gallery {   border-radius:  20px 20px 20px 20px; width: 100%; overflow: hidden; box-shadow:0px 0px 10px #000; }

figure { margin: 0; }

figure.slider {

position: relative; width: 500%;

font-size: 0; animation: 10s slidy infinite;

}

figure.slider figure {

width: 20%; height: auto;

display: inline-block;

position: inherit;

}



figure.slider img { width: 100%; height: auto; }

figure.slider figure figcaption {

position: absolute; bottom: 0;

background: rgba(0,0,0,0.3);

color: #fff; width: 100%;

font-size: 2rem; padding: .6rem;

}



@media screen and (max-width: 500px) {

figure.slider figure figcaption { font-size: 1.2rem; }

}
@keyframes slidy {

0% { left: 0%; }

20% { left: 0%; }

25% { left: -100%; }

45% { left: -100%; }

50% { left: -200%; }

70% { left: -200%; }

75% { left: -300%; }

95% { left: -300%; }

100% { left: -400%; }

}

div#slider figure {

position: relative; width: 500%;

margin: 0; padding: 0; font-size: 0; left: 0; text-align: left;

animation-duration: 1s;
animation-timing-function: ease-in-out;
animation-iteratio-count: infinite;

}

#redessociales
{
    margin-top:15px;
    margin-left:30%;
}


#redessociales img
{
        margin-left:30px;
        width: 5%;
        height: 5%;
}

#menucliente li > a
{
    text-decoration: none;
    color: black;

}
#menucliente > ul
{
    list-style-type: none;
       
    cursor: pointer;
    
    text-align:right;
 
    display: block;
    
}