<%@ Master Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="clientedefault.master.cs" Inherits="TiendaVehiculo.usuario.cliente.clientedefault" %>



<asp:Content ID="Content4" ContentPlaceHolderID="foldermedio" runat="server">
                 <asp:ContentPlaceHolder ID="medio" runat="server">
             


            </asp:ContentPlaceHolder>
</asp:Content>
